{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- required meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- custom title script -->
    {% if title %}
    <title>B.Log - {{ title }}</title>
    {% else %}
    <title>B.Log</title>
    {% endif %}
    <!-- homepage css -->
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">
    <!-- bootstrap icon css-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/icons/bootstrap-icons.css' %}">
</head>

<body>
    <!-- navbar -->
    <div class="navbar">
        <ul>
            <a href="/" class="logo"><i class="bi bi-envelope-paper"></i>B.Log</a>
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="about/">About</a></li>
        </ul>
        <ul>
            <li class="nav-link"><a href="#">Login</a></li>
            <li class="nav-link"><a href="#">Register</a></li>
            <li class="nav-link"><a href="#">Logout</a></li>
        </ul>
    </div>
    <!-- content -->
    <div class="content">
        <div class="col left">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col right">
            <div class="sidebar">
                <h1>The Sidebar</h1>
                <p>You can put any info here.</p>
                <table id="sidebar-table">
                    <tr><td><a href="#">Latest Posts</a></td></tr>
                    <tr><td><a href="#">Favorites</a></td></tr>
                    <tr><td><a href="#">Announcements</a></td></tr>
                    <tr><td><a href="#">Calendars</a></td></tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>