{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- required meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- custom title -->
    {% if title %}
    <title>B.Log - {{ title }}</title>
    {% else %}
    <title>B.Log</title>
    {% endif %}
    <!-- homepage css -->
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">
    <!-- night mode script -->
    <script defer src="{% static 'homepage/nightmode.js' %}"></script>
</head>

<body>
    <!-- navbar -->
    <div class="navbar">
        <ul>
            <a href="{% url 'homepage-home' %}" class="logo">B.Log</a>
            <li class="nav-link"><a href="{% url 'homepage-home' %}">Home</a></li>
            <li class="nav-link"><a href="{% url 'homepage-about' %}">About</a></li>
        </ul>
        <ul>
            <!-- night mode button -->
            <li class="nav-link"><a id="nightToggle" style="cursor: pointer;" onclick="func(0)">Night Mode</a></li> 
            {% if user.is_authenticated %}
                <li class="nav-link"><a href="{% url 'profile' %}">Profile</a></li> 
                <li class="nav-link"><a href="{% url 'logout' %}">Logout</a></li> 
            {% else %}
                <li class="nav-link"><a href="{% url 'login' %}">Login</a></li> 
                <li class="nav-link"><a href="{% url 'register' %}">Register</a></li>  
            {% endif %}
            {% if user.is_superuser %}
                <li class="nav-link"><a href="{% url 'admin:index' %}" style="font-weight: bold;">Admin</a></li>
            {% endif %}
        </ul>
    </div>
    <!-- content -->
    <div class="content">
        <div class="col left">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
        <div class="col right">
            <div class="sidebar">
                <h1>The Sidebar</h1>
                <p>Useful features that you can do on this website.</p>
                <table id="sidebar-table">
                    <tr><td><a href="{% url 'post-create' %}"><strong>Create a Post</strong></a></td></tr>
                    {% if user.is_authenticated %}
                    <tr><td><a href="{% url 'user-posts' user.username %}">Your Recent Posts</a></td></tr>
                    {% endif %}
                    <tr><td><a href="{% url 'homepage-home' %}">Latest Posts</a></td></tr>
                    <tr><td><a href="{% url 'profile' %}">View Profile</a></td></tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>