{% extends 'homepage/base.html' %}

{% block content %}
{% if is_paginated %}
<div class="pages">
    {% if page_obj.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a href="?page={{ num }}" style="background-color: #444;">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
</div>
{% endif %}
<article class="container">
    <div class="metadata">
        <h3>Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h3>
    </div>
</article>
{% for post in posts %}
<article class="container">
        <div class="metadata">
            <a href="{% url 'user-posts' post.author.username %}">
                <img src="{{ post.author.profile.image.url }}">
            </a>
            <h3><a href="{% url 'user-posts' post.author.username %}">
                {{ post.author }}
            </a></h3>
            <h6>{{ post.date_posted|date:'F d, Y' }}</h6>
        </div>
    <hr>
    <a href="{% url 'post-detail' post.id %}">
        <div>
            <h1>{{ post.title }}</h1>
            <p>{{ post.content }}</p>
        </div>
    </a>
</article>
{% endfor %}
{% endblock %}