/* basic css utilities */
:root {
    --font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-primary: #008080;
    --color-secondary: #4682b4;
    --gutter-x: 2vw;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: var(--font);
    background-color: #eee;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: inline;
}

/* navbar styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0.5rem calc(var(--gutter-x) * 2);
    background-color: var(--color-primary);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

/* logo styling */
.logo {
    color: #fff;
    font-size: calc(18px + 0.5vw);
    margin-right: 1vw;
    border-top: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    transition: 0.1s ease;
    padding: 0.5rem 0.5rem;
}

.logo i {
    margin-right: 0.5rem;
}

.logo:hover {
    color: var(--color-primary);
    background-color: #fff;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    padding: 0.1rem 0.5rem;
}

/* nav link styling */
.nav-link a {
    color: #ddd;
    font-size: calc(12px + 0.5vw);
    padding: 0.5rem 0;
    margin: 0 0.5vw;
    border-top: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    display: inline-block;
    transition: 0.1s ease;
}

.nav-link a:hover {
    color: #fff;
    padding: 0.1rem 0;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transform: scale(1.2);
}

/* content styling */
.content {
    display: block;
    width: 100%;
    padding: 0 calc(var(--gutter-x) * 3);
    margin: 0 auto;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}

/* column row */
.col {
    float: left;
    padding: 1rem;
}

.left {
    width: 65%;
}

.right {
    width: 35%;
}

/* container styling */
.container {
    background-color: #fff;
    color: #222;
    margin-top: 1rem;
    padding: 1rem;
    font-size: calc(10px + 0.5vw);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    transform: scale(.99);
    transition: 0.1s ease;
}

.metadata {
    display: flex;
    align-items: baseline;
}

.metadata img {
    width: 64px;
    margin-right: 0.5rem;
    border-radius: 20%;
}

.container hr {
    margin: 0.5rem 0;
}

.container h1 {
    font-weight: normal;
    color: var(--color-secondary);
}

.container h2, .container h3 {
    color: var(--color-secondary);
    font-weight: normal;
    margin-right: 0.75rem;
}

.container h6 {
    color: #444;
    font-weight: normal;
}

.container p {
    margin-top: 0.5rem;
    color: #444;
}

.container a {
    color: var(--color-secondary);
    transition: 0.1s ease;
}

.container a:hover {
    color: #444;
}

.container:hover {
    transform: scale(1);
}

/* sidebar styling */
.sidebar {
    background-color: #fff;
    color: #222;
    margin-top: 1.5rem;
    padding: 1rem;
    font-size: calc(10px + 0.5vw);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    transform: scale(.99);
    transition: 0.1s ease;
}

.sidebar h1 {
    font-weight: normal;
    color: var(--color-secondary);
}

.sidebar p {
    color: #444;
}

.sidebar:hover {
    transform: scale(1);
}

/* sidebar table styling */
#sidebar-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1vw;
}

#sidebar-table td {
    border: 1px solid #ddd;
    padding: 0.7rem 1.4rem;
    transition: 0.1s ease;
}

#sidebar-table td:hover {
    background-color: #ddd;
}

#sidebar-table a {
    color: #222
}

/* register form styling */
.register {
    background-color: #fff;
    color: #222;
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.register fieldset {
    padding: 1rem;
    border: none;
}

.register legend {
    font-size: 2rem;
    color: var(--color-secondary);
}

.register p {
    margin-bottom: 0.5rem;
}

.register label {
    font-size: calc(10px + 0.4vw);
    display: block;
}

.register input {
    padding: 0.1rem;
}

.helptext, .register ul {
    display: block;
    margin-top: 0.25rem;
    color: #444;
    font-style: italic;
    font-size: calc(9px + 0.2vw);
}

.register li {
    display: block;
}

.register button {
    padding: 0.6rem 0.8rem;
    font-size: calc(12px + 0.2vw);;
    color: #fff;
    background-color: var(--color-secondary);
    border: none;
    border-radius: 0.5rem;
}

.register a {
    color: var(--color-secondary);
}

.errorlist {
    padding: 0.2rem 0;
    font-size: calc(12px + 0.2vw);
    font-weight: bold;
}

.errorlist li {
    display: block;
    color: darkred;
}

/* alert styling */
.alert {
    padding: 1rem;
    color: white;
    margin-bottom: 0.5rem;
}

.alert-success {
    background-color: #4CAF50;
}

/* user profile styling */
.profile img {
    width: calc(80px + 2vw);
    height: auto;
    border-radius: 20%;
    float:left;
    margin-right: 1rem;
}

.profile hr {
    margin-top: 1rem;
    clear:both;
}

.profile fieldset {
    border: none;
}

.profile button {
    padding: 0.6rem 0.8rem;
    margin-top: 0.5rem;
    font-size: calc(12px + 0.2vw);;
    color: #fff;
    background-color: var(--color-secondary);
    border: none;
    border-radius: 0.5rem;
}

/* page button styling */
.pages {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.pages a {
    background-color: var(--color-secondary);
    color: white;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 20%;
}

/* responsive columns */
@media screen and (max-width: 900px) {
    .col {
        width: 100%;
    }
}