{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- required meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- custom title script -->
    {% if title %}
    <title>Keanu's Blog - {{ title }}</title>
    {% else %}
    <title>Keanu's Blog</title>
    {% endif %}
    <!-- homepage css -->
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar">
        <!-- logo -->
        <div class="logo"><a href="#">Keanu's Blog</a></div>
        <!-- nav menu -->
        <ul class="nav-links">
            <!-- nav menus -->
            <li class="nav-link"><a href="#">Home</a></li>
            <li class="nav-link"><a href="#">About</a></li>
            <li class="nav-link"><a href="#">Contact</a></li>
            <li class="nav-link"><a href="#">Log Out</a></li>
        </ul>
    </nav>
    <!-- content -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>